line-height:0;
h1{
  color: white; font-size: 80px;text-align: center;
  margin: 7px;
  padding: 0px;
   background-image: url(images/b.jpg);

}
h2{
  color: white; font-size: 35px;text-align: center;
  background-color: black;
  margin: 0px;padding: 0px;
}
h3{
  color: white;
  font-size: 40px;
 margin-left: 230px;
 margin-bottom: 10px;

}
.box1{
  padding: 0.5em 1em;
  background: -moz-linear-gradient(gold,black);
  background: -webkit-linear-gradient(gold,black);
  background: linear-gradient(to right,gold,black);
  color: white
}
.box1 p{
  margin: 0px;
  padding: 0px;
}
 body{
    padding: 0.5em 1em;
    background: -moz-linear-gradient(blue,green);
    background: -webkit-linear-gradient(blue,green);
    background: linear-gradient(to right,blue,green);
    color: white
 }
li{
  color: white;

}
p{
  color: white;
  font-size: 25px;text-align: center;
  text-align: center;
  padding: 0px;
}
p1,br{
  color: white;
  font-size: 25px;


}
.box2{
  padding: 0.5em 1em;
  font-weight: bold;
  height: auto;
  color: black;
 background-color: white;
  border: solid 10px black;
  border-radius: 15px;
  font-size: 80px;
  text-align: center;
  margin: 0px;
  }
  .box2 p{
    margin: 0px;
    padding: 0;
  }
h4 {
  color: white;
  font-size: 40px;
margin-left: 40px;
position: absolute;
position: relative;
top:-40px;
margin-top: 130px;

}
h5{
  font-size:40px;
  margin-top: -470px;
  margin-left:40px;
}
a{
  color: white;font-size: 20px;
  margin: 0px;
  padding: 0px;
}
